*.DEBUG
*.ERR
*.LOG
*.bak
*.ba1
*.log
*.sw?
*.tar.gz
*.tdy
*.tmp*
*.zip
*~
.tidyall.d/
/Makefile
/NOTES.txt
MANIFEST.bak
MYMETA.json
MYMETA.yml
RUNME.sh
RUNME.sh
blib/
archive/
diff.txt
local_docs/*.txt
perltidy-*.pl
perltidy.pl
pm_to_blib
tmp*/
junk*
