name: Docker

on:
  push:
    tags:
      - "[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"
      - "[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9].[0-9][0-9]"

permissions: {}

jobs:
  images:
    name: Image
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7,linux/ppc64le,linux/riscv64,linux/s390x
          tags: |
            ghcr.io/${{ github.repository_owner }}/perltidy:${{ github.ref_name }}
            ${{ case(
                contains(github.ref_name,'.'), '',
                format('ghcr.io/{0}/perltidy:latest', github.repository_owner)
            ) }}
          push: true
